.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  padding-inline: 20px;

  background-color: gray;

  &__name {
  }

  &__nav {
    display: flex;
    gap: 20px;
    text-decoration: none;
  }

  &__icon {
    width: 24x;
    height: 24px;
  }

  &__contact {
    display: flex;
  }
}
